<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Certificate validation is disabled because TLS-intercepting proxies
         present certificates the build container does not trust -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" disableTLSCertificateValidation="true" />
  </packageSources>
</configuration>
